html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  /* background-color: #d9dad7; */
  /* background-color: #3e4a61; */
  /* background-color: #272c34; */
  background-color: black;
}

.container {
  width: 60%;
  margin: 0 auto;
}
